*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #4A4E69;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #22223B;
    border-radius: 5px;
    width: 50vw;
    height: 60vh;
    align-items: center;
}


.label_text{
    color: #F2E9E4;
    font-size: large;
}

.input_text{
    border-radius: 5px;
    border-color: #9A8C98;
    height: 5vh;
    font-size: medium;
}

.input_widget{
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

#user{
    width: 25vw;
}

#password{
    width: 20vw;
}

.submit{
    width: 8vw;
    height: 10vh;
    font-size: 4vh;
    text-align: center;   
}

.nav{
    display: flex;
    list-style: none;
    background-color: #22223B;
    overflow: hidden;
}

.nav a{
    text-decoration: none;
    color: #F2E9E4;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

.nav a:hover{
    background-color: #F2E9E4;
    color: #22223B;
}

h1{
    color: #F2E9E4;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5vh;
}

#erro{
    padding-top: 20vh;
}

.tiny_box{
    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: space-around;
}

.input_number{
    border-radius: 5px;
    border-color: #9A8C98;
    height: 5vh;
    font-size: medium;
    text-align: center;
}

#func_button{
    font-size: 2.5vh;
}

.table_widget
{
    border: 1px solid;
    border-collapse: collapse;
}

.table_widget th,td{
    border: 1px solid;
    padding: 3px;
    font-size: large;
}

.table_widget th{
    background-color: #C9ADA7;
}

.delete{
    text-decoration: none;
    color: red;
}

.edit{
    color: #F2E9E4;
}

.edit:hover{
    color: #C9ADA7;
}